@sortable-dragged-z-index:      1050;

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.uk-active-drag {
  position: fixed;
  z-index: @sortable-dragged-z-index;
  pointer-events: none;
  opacity: 0.7;
}

.uk-flex {
  min-height: 0;
  min-width: 0;
  border-color: @global-border;
}